.colorization-wrapper {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.colorization-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text)
}

.colorization-subtitle {
  font-size: 16px;
  color: var(--text-muted);
  margin-bottom: 50px;
}

.colorization-card {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding: 40px;
  background: var(--card-bg);
  border-radius: 24px;
  border: 1px dashed #999;
  margin-bottom: 40px;
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.upload-section {
  background: var(--colorize-box);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
  width: 90%;
}

.upload-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--text);
}

.upload-box {
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.upload-box img {
    width: 50px;
}

.upload-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.upload-area p {
  font-size: 14px;
  color:var(--text-muted)
}

.upload-or {
  display: block;
  color: var(--text-muted);
  font-size: 13px;
}

.upload-browse {
  background-color: #2463EB;
  color: white;
  padding: 10px 15px;
  font-size: 13px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 8px;
}

.upload-browse:hover {
  background-color: #32408f;
}

.upload-support {
  font-size: 10px !important;
  color: #aaa;
}

.upload-action {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
}

.upload-action:hover {
  background-color: #4338ca;
}

.preview-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-section img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.steps-section {
  margin-top: 4rem;
  text-align: center;
}

.steps-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--text);
}

.steps-subtitle {
  font-size: 1rem;
  color: var(--text-muted);
  max-width: 700px;
  margin: 0 auto 2.5rem;
}

.steps-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.step-box {
  background-color: var(--card-bg);
  border-radius: 25px;
  box-shadow: 4px 4px 12px var(--shadow);
  padding: 2.5rem 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.step-box:hover {
  transform: translateY(-4px);
}

.icon {
  background-color: var(--icon-bg);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.icon img {
  width: 24px;
  height: 24px;
}

.step-box h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--text);
}

.step-box p {
  font-size: 1rem;
  color: var(--text-muted);
  line-height: 1.4;
  max-width: 90%;
}
